*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background-color: black;
}

.section-main{
    position: relative;
    max-width: 100%;
    min-height: 862px;
    background: url(images/asset\ 13.png) no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    width: 1140px;
    height: 61px;
    align-items: center;
    margin: 40px auto 0 ;
    justify-content: space-between;
}

.container .logo{
    margin-top: 6px ;
}

header.sticky{
    background-color: #444459;
    opacity: 0.97;
    padding: 20px 0 20px 0;
    transform: translateY(-40px);
    transition: 0.3s;
}

header .menu{
    position: relative;
    display: flex;
    justify-content: center;
    user-select: none;
    align-items: center;
}

header .menu a:not(.nfts, .blog){
    text-decoration: none;
    font-size: 16px;
    color: #cecece;
    font-weight: 500;
    line-height: 24px;

}


header .menu a:hover:not(.blog, .nfts){
    color: #ddbce9;
    transition: 0.2s;
}
header .menu a:focus(.blog, .nfts){
    color: #ad6cca;
}

.menu .sub-item{
    margin-right: 73px;
}

.menu .roadmap{
    margin-right: 60px;
}

.menu .team{
    margin-right: 62px;
}

.nfts{
    text-decoration: none;
    font-size: 1rem;
    margin: 0 0px;
    padding: 11px 49px 13px 48px;
    border-style: solid;
    border-width: 2px;
    border-color: #873aa9;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    margin-right: 26px;
}
.nfts:hover{
    color: #ffffff;
    border-color: #ad6cca;
    transition: 0.2s;
}
.blog{
    text-decoration: none;
    font-size: 1rem;
    margin: 0 0px;
    color: #01de8e;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
}
.blog:hover{
    color: #99e7cb;
}

/*slide centro*/

.slider{
    width: 343.89px;
    height: 473px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 1100px;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 30%;
    transition: 2s;
}
@keyframes example{
    0% {display: none;}
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}
.slide img{
    width: 343.89px;
    height: 473px;
    animation-name: example;
    animation-duration: 6s;
}
.navigation-manual{
    position: absolute;
    margin: 667px 0 0 116px ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.manual-btn{
    border: 2px solid #fff;
    padding: 7.5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.manual-btn:not(:last-child){
    margin-right: 36px;
}
.manual-btn:hover{
    border-color: #01de8e;
    background: #01de8e;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -30%;
}
#radio3:checked ~ .first{
    margin-left: -60%;
}

/*fim slide centro*/

.container-2{
    display: flex;
    width: 1063px;
    justify-content: center;
    align-items: center;
    margin: 129px auto;
}
.container-2 img{
    margin: 0 32.5px;
}
.container-2 img:hover{
    opacity: 0.5;
    transition: 0.5s;
}

.container-3{
    display: flex;
    width: 100%;
    height: 620px;
    margin-top: 150px;
    align-items: center;
    background: url(images/asset\ 14.png) no-repeat;
    background-size: cover 50%;
    position: relative;
    
}

.content-container-3-1{
    display: flex;
    position: relative;
    width: 1140px;
    align-items: center;
    margin: auto;

}

.content-container-3-1 .sub-content{
    position: absolute;
    display: inline-block;
    width: 700px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.content-container-3-1 img{
    margin: 0px 45px 41px 0px;
}

.content-container-3-2{
    position: absolute;
    right:0;
    display: inline-block;
    align-items: center;
    width: 455px;
    height: 350px;
}

.green-text{
    color: #01de8e;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.white-text{
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: #ffffff;
}

.gray-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #6C6C6C;
}

.purple-button{
    color: #fff;
    background-color: #873AA9;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 14px 19.63px 13px 20px;
    border-radius: 10px;
    margin-top: 49px;
}

.container-4{
    display: flex;
    width: 100%;
    height: 342px;
    margin-top: 125px;
    background: url(images/asset\ 15.png) no-repeat right;
    background-size:cover 60%;
    position: relative;
    align-items: center;
}

.container-4 .content-container-4-1{
    display: flex;
    position: relative;
    width: 1140px;
    align-items: center;
    margin: auto;
}

.container-4 .content-container-4-1 .sub-content-4{
    display: inline-block;
    position: absolute;
    width: 523px;
    height: 297px;
    align-items: center;
    margin: auto;
}

.container-4 .content-container-4-2{
    display: flex;
    position: absolute;
    right: 118px;
    margin: auto;
    width: 30%;
}

.container-4 .content-container-4-2 .card-1:not(:last-child){
    justify-content: center;
    align-items: center;
    margin-right: 63px;
}
.card-green-text{
    color: #01de8e;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 21px;
}

.card-white-text{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 4px;
}

.container-5{
    width: 100%;
    display: flex;
    position: relative;
    background: url(images/asset\ 16.png) no-repeat bottom left; 
    align-items: center;
    justify-content: center;
}

.container-5 .content-container-5{
    width: 1140px;
    height: 1032px;
    display: inline-block;
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: 110px;
}

.card-green{
    color:#01de8e;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    margin: 63px 72px 0 79px;
}

.card-gray{
    color: #6C6C6C;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    margin: 22px 72px 64px 79px;

}

.card-white{
    color: #fff;
    align-items: center;
    font-size: 18px;
    line-height: 27px;
    margin: 0 72px 0 79px;
}

.card-title{
    width: 656px;
    height: 106px;
    align-items: center;
    margin: 0 auto 96px;
}

.gray-text-2{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #6C6C6C;
    text-align: center;
}


.card-text-1{
    display: inline-block;
    width: 546px;
    height: 296px;
    position: absolute;
    align-items: center;
    background: #0F0F16;
    border-radius: 34px;
    margin-right: 40px;
}

.card-text-2{
    display: inline-block;
    width: 546px;
    height: 296px;
    position: absolute;
    right: 0;
    align-items: center;
    background: #0F0F16;
    border-radius: 34px;
}

.card-text-3{
    display: inline-block;
    width: 546px;
    height: 296px;
    position: absolute;
    left: 0;
    bottom: 153px;
    align-items: center;
    background: #0F0F16;
    border-radius: 34px;
}

.card-text-4{
    display: inline-block;
    width: 546px;
    height: 296px;
    position: absolute;
    right: 0;
    bottom: 153px;
    align-items: center;
    background: #0F0F16;
    border-radius: 34px;
}

.content-container-5 .purple-button{
    color: #fff;
    background-color: #873AA9;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 14px 19.63px 13px 20px;
    border-radius: 10px;
    position: absolute;
    bottom: 6px;
    right: 43.8%;
    
}

.container-6{
    display: flex;
    width: 100%;
    height: 384px;
    margin: 173px auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-6 .content-container-6{
    display: inline-block;
    width: 1140px;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.countdown{
    display: flex;
    width: 100%;
    height: 175px;
    align-items: center;
    justify-content: center;
    margin: 103px auto 0;
}

.countdown .count{
    width: 175px;
    height: 175px;
    background:#1E1E2B;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 30px rgba(21, 21, 31, 0.5);
    margin: auto;
}


.container-7{
    display: flex;
    position: relative;
    width: 100%;
    background: url(images/asset\ 17.png) no-repeat;
    justify-content: center;
    align-items: center;
    background-size: cover;

}


.container-7 .content-container-7{
    display: flex;
    position: relative;
    width: 878.5px;
    height: 792px;
    border-top: 1px solid;
    align-items: center;
    justify-content: center;
    border-image: linear-gradient(90deg, #7553CF, #38CAB2, #D72484) 1;
}

.container-7 .content-container-7 .text-content-7{
    display: inline-block;
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    justify-content:center;
    align-items: center;
    text-align: center;
    top: 67px;
}

.content-container-7 .get-button{
    display: flex;
    position: absolute;
    width: 195.18px;
    height: 63px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    border: 1px solid #FFFFFF;
    top: 203px;
    align-items: center;
    justify-content: center;
}

.content-container-7 .get-button:hover{
    border-color: #01DE8E;
    transition: 0.5s;
}

.content-container-7 .green-logo{
    display: flex;
    position: absolute;
    width: 187px;
    height: 61px;
    top: 317px;
}
.content-container-7 .redes{
    display: flex;
    position: relative;
    width: 268px;
    justify-content: center;
    align-items: center;
    top: 46px;
    margin: auto;

}
.redes .logo{
    display: inline-block;
    padding: 12px;
    border-radius: 50%;
    background-color: #873AA9;
    align-items: center;
    justify-content: center;
    background-size:cover;
    margin-right: 24px;
}

.facebook:hover{
    background-color: #3b5998;
    transition: 0.5s;
    cursor: pointer;
}
.twitter:hover{
    background-color: #00aced;
    transition: 0.5s;
    cursor: pointer;
}
.discord:hover{
    background-color: #5566e4;
    transition: 0.5s;
    cursor: pointer;
}
.instagram:hover{
    background-color: #d12e77;
    transition: 0.5s;
    cursor: pointer;
}

.empresa{
    display: flex;
    position: absolute;
    top: 538px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.content-empresa{
    display: inline-block;
    text-decoration: none;
    color: #cecece;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-right: 64px;
}

.content-empresa:hover{
    color:#AD6CCA;
    transition: 0.4s;
}

.content-container-7 .footer{
    display: flex;
    position: absolute;
    top: 631px;
    width: 1140px;
    border-top: 1px solid #3F3F53 ;
    align-items: center;
    justify-content: center;
}

.footer .text-footer{
    display: inline-block;
    position: relative;
    top:43px;
    width: 431px;
    height: 69px;
    color: #3F3F53;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    text-align: center;
}