*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color: black;
}
.container1{
    background-image: url(images/asset\ 13.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.nav{
    position: sticky;
    top: 0;
}
nav{
    margin: 19px 0 19px 0;
}
.logo{
    margin: 21px 0 0 222px;
    float: left;
}
nav ul{
    text-align: center;
    padding: 32px 0 35px 0;
}
nav ul li{
    display: inline;
    padding: 3px 37px 3px 37px;
}
nav ul li a{
    text-decoration: none;
    color: #cecece;
    font-weight: bold;
    font-size: 16px;
}
nav ul li a:hover:not(.home, .blog, .nfts){
    color: #ddbce9;
    transition: 0.2s;
}
nav ul li a:active(.blog, .nfts){
    color: #ad6cca;
}
.home{
    color: #ad6cca;
}
.nfts{
    padding: 15px 55px 15px 55px;
    border-style: solid;
    border-width: 2px;
    border-color: #873aa9;
    border-radius: 15px;
    color: #ffffff;
}
.nfts:hover{
    color: #ffffff;
    border-color: #ad6cca;
    transition: 0.2s;
}
.blog{
    color: #01de8e;
}
.blog:hover{
    color: #99e7cb;
}
header{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 344px;
    height: 486px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 1100px;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 30%;
    transition: 2s;
}
.slide img{
    width: 344px;
    height: 486px;
}
.navigation-manual{
    position: absolute;
    width: 360px;
    margin-top: 673px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #01de8e;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 5px;
}
.manual-btn:hover{
    background: #01de8e;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -30%;
}
#radio3:checked ~ .first{
    margin-left: -60%;
}
